<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <a href="/test?name=james&age=30">파라미터 보내기</a>

<!--    <form action="test" method="get">-->
<!--        이름 : <input type="text" name="name"> <br>-->
<!--        나이 : <input type="text" name="age">-->

<!--        <input type="submit" value="값보내기">-->

<!--    </form>-->
<!--// get mapping 방식-->

    <form action="test" method="post">
        이름 : <input type="text" name="name"> <br>
        나이 : <input type="text" name="age">

        <input type="submit" value="값보내기">

    </form>
<!--post 방식 -->

</body>
</html>